.question {
    &Main {
        margin-top: 96px;
        padding-bottom: 128px;
        @include pad{
            margin-top: 60px;
            padding: 0 39px 72px 39px;
        }
        @include mobile{
            margin-top: 28px;
            padding: 0 15px 36px 15px;
        }       
        h2{
            font-size: $text-4xl;
            line-height: 80px;
            font-weight: bold;
            padding-left: 16px;
            border-left: 8px solid #9F1213;
            @include pad{
                border-left: 4px solid #9F1213;
                line-height: 67px;
            }
            @include mobile{
                font-size: $text-2l;
                line-height: 40px;
                padding-left: 8px;
            } 
        }
        h3{
            font-size: $text-xl;
            line-height: 63px;
            font-weight: bold;
            padding-top: 60px;
            padding-bottom: 36px;
            @include pad{
                padding-top: 40px;
                padding-bottom: 32px;
            }
            @include mobile{
                font-size: $text-m;
                line-height: 63px;
                padding: 20px 0;
            }
        }
    }
    &Item{
        width: 100%;
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 24px;
        }
        h4{
            font-size: $text-m;
            line-height: 23px;
            font-weight: bold;
            @include mobile{
                font-size: $text-base;
                line-height: 24px;
            }
        }
        p{
            width: 85%;
            font-size: $text-base;
            line-height: 24px;
            padding-top: 16px;
            padding-left: 95px;
            @include pad{
                width: 100%;
                padding-left: 60px;
                padding-bottom: 0px;
            }
            @include mobile{
                font-size: $text-s;
                margin-bottom: 21px;
                line-height: 21px;
                padding-top: 0px;
                padding-left: 0px;
            }
        }
        span{
            font-size: $text-base;
            line-height: 24px;
            padding-top: 16px;
            padding-left: 95px;
            @include pad{
                padding-left: 60px;
            }
            @include mobile{
                font-size: $text-s;
                line-height: 21px;
                padding-left: 0px;
            }
        }
    }
    &ItemContent{
        @include mobile{
            margin-top: 8px;
        }
    }
}